@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App 2</h1>
    <p>Learn about <a href="https://localhost:7244/">Main</a>.</p>
    <p>Learn about <a href="https://localhost:7051/">App1</a>.</p>
    <p>Learn about <a href="https://localhost:7212/">App2</a>.</p>
</div>
